# ! + enter 입력
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--제목태그-->
    <h1>
        index Page
    </h1>
    <!--글 목록 태그-->
    <p>
        쿠팡 잠입 취재에 나섰다가 이른바 블랙리스트인 ‘PNG 리스트’에 등재된 홍주환 뉴스타파 기자의 성토다. 홍 기자는 20일 서울 중구 전국민주노동조합총연맹에서 열린 기자회견에서 쿠팡이 언론의 감시를 차단하고 있지만, 언론은 쉬지 않고 쿠팡을 취재할 것이라고 밝혔다. 인권운동단체들은 리스트에 오른 피해자들과 연대해 쿠팡을 상대로 소송을 검토할 방침이다.

최근 MBC는 쿠팡이 채용 기피인물들의 재채용을 막기 위해 ‘PNG 리스트’라는 일종의 블랙리스트를 만들어 관리해왔다고 보도했다. MBC 보도에 따르면 1만6540명이 리스트에 있으며, 언론인과 유튜버도 리스트에 있었다. 이와 관련해 쿠팡 노동자의 건강한 노동과 인권을 위한 대책위원회(이하 쿠팡대책위)와 시민사회단체들은 20일 기자회견을 열고 쿠팡에 대한 집단 소송에 나서겠다고 밝혔다.

쿠팡 PNG리스트에 등재된 홍주환 뉴스타파 기자와 정성용 쿠팡물류센터지회장이 이날 기자회견에 참석해 입장을 밝혔다. 지난해 쿠팡 노동실태를 취재하기 위해 위장 취업을 하고, 보도 이후 ‘회사 명예훼손’ 명목으로 리스트에 오른 홍주환 기자는 “쿠팡은 선량한 직원들을 보호하기 위한 조치라고 항변하는데, 소수의 극단적 사례로 전체를 호도하는 물타기”라면서 “나를 포함한 뉴스타파 기자들은 왜 블랙리스트에 올라갔는가. 내가 거기서 사람을 때렸나”라고 지적했다.

출처 : 미디어오늘(https://www.mediatoday.co.kr)
    </p>
    <!--하이퍼링크-->
    <a href="https://www.google.com">google</a>
    <a href="/second">second 페이지로 이동</a>
</body>
</html>